
<div style="max-width: 480px; margin: auto;">
    <p-card header="Enviar Feedback" class="m-4">
        <div class="flex flex-row">
            <p-button icon="pi pi-thumbs-up" iconPos="right" label="Elogio"
                styleClass="p-button-raised p-button-text p-button-success"
                class="flex align-items-center justify-content-center m-2"></p-button>
            <p-button icon="pi pi-question" iconPos="right" label="Sugestão"
                styleClass="p-button-raised p-button-text p-button-warning"
                class="flex align-items-center justify-content-center m-2"></p-button>
            <p-button icon="pi pi-exclamation-triangle" iconPos="right" label="Crítica"
                styleClass="p-button-raised p-button-text p-button-danger"
                class="flex align-items-center justify-content-center m-2"></p-button>
        </div>
    </p-card>
    
    <p-card header="Feedbacks Stats" class="m-4">
    
    </p-card>
</div>
