<div style="max-width: 480px; margin: auto;">

    <p-card header="Enviar Feedback" class="m-4">
        <div class="flex justify-content-center flex-wrap">
            <p-button icon="pi pi-thumbs-up" iconPos="right" label="Elogio"
                styleClass="p-button-raised p-button-text p-button-success"
                class="flex align-items-center justify-content-center m-2" (click)="elogioClicked()"></p-button>
            <p-button icon="pi pi-question" iconPos="right" label="Sugestão"
                styleClass="p-button-raised p-button-text p-button-warning"
                class="flex align-items-center justify-content-center m-2" (click)="sugestaoClicked()"></p-button>
            <p-button icon="pi pi-exclamation-triangle" iconPos="right" label="Crítica"
                styleClass="p-button-raised p-button-text p-button-danger"
                class="flex align-items-center justify-content-center m-2" (click)="criticaClicked()"></p-button>
        </div>
    </p-card>
    
    <p-card header="Feedback Info" class="m-4">
        <div class="flex justify-content-center flex-wrap">
            <div class="flex align-items-start justify-content-center m-3">
                <p-knob [readonly]="true"></p-knob>
            </div>
            <div class="flex align-items-center justify-content-center m-3">
                <p-knob [readonly]="true"></p-knob>
            </div>
            <div class="flex align-items-end justify-content-center m-3">
                <p-knob [readonly]="true"></p-knob>
            </div>
        </div>

        <div class="my-4">
            <h3>Status da Fila</h3>
            <p-chart type="bar" [data]="stackedData" [options]="stackedOptions" height="280px"></p-chart>
        </div>

        <div class="my-4">
            <h3>Resumo</h3>
            <p-chart type="doughnut" [data]="pieData" [options]="pieOptions" height="200px"></p-chart>
        </div>
    </p-card>
</div>
